.App {
  text-align: center;
}

.background{
  /* src 폴더에 있는 파일들은 발행하면 압축 되던가 변하는데
  public 폴더에 있는 파일들은 발행해도 그대로 있는다. 따라서 이미지 파일 등은
  public 폴더 안에 넣어준다*/
  background-image: url(./background.jpg);
  background-position: center;
  color: white;
}